/*****************************************************************************/
/*
/* Main
/*
/*****************************************************************************/
body {
  background: #ecf0f1;
}

/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/
.container {
  width: 75%;
  display: inline-block;
}

/*****************************************************************************/
/*
/* Navigation
/*
/*****************************************************************************/
.navigation {
  overflow: hidden;
  background: linear-gradient(to bottom, #3a3a3a 0%, #1e1e1e 100%);
}

.navigation nav {
  margin-left: 10%;
  display: inline-block;
  height: 50px;
}

.navigation a {
  color: #95a5a6;
  text-decoration: none;
}

.navigation nav ul {
  padding: 0;
}

.navigation nav li {
  display: inline-block;
}

.navigation nav li:after {
  margin: 0 10px;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/
.content {
  height: 100%;
  width: 80%;
  background: #34495e;
  margin: 0 auto;
}

/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

.sidebar {
  background: #bdc3c7;
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  display: inline-block;
  box-shadow: inset 1em 0 3em -1em rgba(0,0,0,.8);
}
