/*****************************************************************************/
/*
/* Main Container
/*
/*****************************************************************************/
.container {
  width: 75%;
  display: inline-block;
}

/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  display: inline-block;
  box-shadow: inset 1em 0 3em -1em rgba(0,0,0,.8);
}
