---
layout: default
title: Blog
---

<ul class="posts">
  {% for post in paginator.posts %}
    <li class="post">
      <header class="post-header">
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <span class="date">{{ post.date | date_to_string }}</span>
      </header>
      <div class="post-content">
        <p>{{ post.excerpt }}</p>
        <a class="read-full-post-link" href="{{ post.url }}">&raquo; Read full post</a>
      </div>
    </li>
  {% endfor %}
</ul>

<div class="pager">
  {% if paginator.page > 1 %}
    <a href="{{ paginator.previous_page_path }}" class="back">Back</a>
  {% endif %}

  {% if paginator.page < paginator.total_pages %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>
