<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <meta name="decription" content="{% if page.description %}{{ page.description}}{% else %}{{ site.description }}{% endif %}">

    <!-- Facebook -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:image" content="{{ site.url }}/assets/images/{% if page.image %}{{ page.image }}{% else %}{{ 'me1.jpeg' }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description}}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove:'index.html' }}">
    <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}blog{% endif %}"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Jockey+One|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax-monokai.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- JavaScript -->
    <script src="/js/lib/jquery.min.js"></script>
  </head>
  <body>

    <aside class="sidebar">
      <ul class="social-links">
        <li><a href="http://github.com/brunops" title="Github" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="http://twitter.com/brunopsanches" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://linkedin.com/in/brunopsanches" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="mailto:brunopsanches@gmail.com" title="Email"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
      <div class="about">
        <a href="/">
          <img src="/assets/images/me1.jpeg" alt="">
          <h2 class="main-name">Bruno Sanches</h2>
          <h4>I code stuff</h4>
        </a>
        <nav class="navigation">
          <ul>
            <li><a class="button" href="/">Blog</a></li>
            <li><a class="button" href="/projects">Projects</a></li>
            <li><a class="button" href="/archive">Archive</a></li>
            <li><a class="button" href="/about">About</a></li>
          </ul>
        </nav>
      </div>
    </aside>

    <div class="container">
      <section class="content">
        <header class="page-title">
          <h1>{{ page.title }}</h1>
          <span class="show-menu-icon">
            <i class="fa fa-bars"></i>
          </span>
        </header>


        <div class="mobile-menu">
          <nav class="mobile-navigation">
            <ul>
              <li><a href="/">Blog</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/archive">Archive</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </div>


        <div class="inner-content">
          {{ content }}
        </div>
      </section>

      <footer class="footer">
        <p>Designed with <i class="fa fa-heart-o"></i>. Developed with <i class="fa fa-magic"></i> and <i class="fa fa-coffee"></i>.</p>
      </footer>
    </div>

    <!-- JavaScript -->
    <script src="/js/bundle.js"></script>

    <script>
      if(window.parent==window){var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-36734880-1']);_gaq.push(['_setDomainName','brunops.org']);_gaq.push(['_setAllowLinker',true]);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src='http://www.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();}
    </script>
  </body>
</html>
