<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>

    <div class="container">
      <section class="content">
        <header class="page-title">
          <h1>{{ page.title }}</h1>
        </header>
        <div class="inner-content">
          {{ content }}
        </div>
      </section>

      <footer class="footer">
        <p>Designed with <i class="fa fa-heart-o"></i>. Developed with <i class="fa fa-magic"></i> and <i class="fa fa-coffee"></i>.</p>
        <p>Bruno Sanches, 2013</p>
      </footer>
    </div>

    <aside class="sidebar">
      <ul class="social-links">
        <li><a href="http://github.com/brunops" title="Github" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="http://twitter.com/brunopsanches" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://linkedin.com/in/brunopsanches" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="mailto:brunopsanches@gmail.com" title="Email"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
      <div class="about">
        <a href="/">
          <img src="/assets/images/brunops2.jpg" alt="">
          <h2 class="main-name">Bruno Sanches</h2>
          <h4>I code stuff</h4>
        </a>
        <nav class="navigation">
          <ul>
            <li><a class="button" href="/">Blog</a></li>
            <li><a class="button" href="#">Projects</a></li>
            <li><a class="button" href="/about">About</a></li>
          </ul>
        </nav>
      </div>
    </aside>

  </body>
</html>
